{
 "version": 1,
 "minor_version": 4,
 "key": "core.config",
 "data": {
  "latitude": 0,
  "longitude": 0,
  "elevation": 0,
  "unit_system_v2": "metric",
  "location_name": "Home",
  "time_zone": "Australia/Perth",
  "external_url": "http://192.168.1.150:8123",
  "internal_url": null,
  "currency": "AUD",
  "country": "AU",
  "language": "en",
  "radius": 100
 }
}